.design_img img{
    float: inline-end;
    top:0rem;
    height: 240px;
    width: 356px;
    max-width: 100%;
    height: 100%;
}
.colour{
    border-radius: 0% 0% 100% 0% / 25% 0% 100% 25%;
    background: #474bff;
background: -webkit-linear-gradient(127deg, #474bff 0%, #bc48ff 100%);
background: linear-gradient(127deg, #474bff 0%, #bc48ff 100%);
}
.paragraph p{
    text-align: center;
}
.head_frontview{
    background: #b9feee;
    background: -webkit-radial-gradient(
      circle,
      #95ffe6 0%,
      #d0f9ff 50%,
      #ffffff 100%
    );
    background: radial-gradient(circle, #c3fff1 0%, #d0f9ff 50%, #ffffff 100%);
}
.auto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-bottom: 6.1vh;
    padding-top: 10vh;
    
}


.auto_part1{
    width: 60%;
    text-align: center; 
    padding-top: 7%;
    font-family: "Poppins";
    color: #5E6282;
    font-weight:500;
    
}

.auto_part1 h1{
    color: #181E4B;
    font-family: "Poppins";
    font-size: 6vw;
    font-weight:600;
    
}
a {
    text-decoration: none;
  }
.auto_part1 button{
    padding: 12px 32px;
    font-size: 1rem;
    text-decoration: uppercase;
    background: rgb(113, 106, 160);
    background-color: #FF0090;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.2s ease;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.auto_part1 button:hover{
    background: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    transition: 0.3s;
    box-shadow: 0px 1px 10px 1px black;
}
.linkedinlogo img{
    height: 30px;
    width: 30px;
    max-width: 100%;
    max-height: 100%;
}


.auto_part2 img{
    max-width: 100%;
    padding-top: 20%;
}

@media screen and (max-width:1024px) {
    .auto{
        padding-bottom: 19vh;
        padding-top: 5.1vh;
    }
    .auto_part2 img{
        padding-top: 10%;
    }
}

@media screen and (max-width:768px) {
    .auto{
        padding-bottom: 20vh;
        padding-top: 12.1vh;
    }
}


@media screen and (max-width:600px) {
    .head_frontview{
        padding-top: 10.1vh;
    }
    .auto{
        display: flex;
        flex-direction: column;
        padding-top: 12.1vh;
    }
    .auto_part1{
        width: 100%;
        padding-top: 0%;
    }
    .auto_part1 h1{
        font-size:15vw;
    }
    .auto{
        padding-bottom: 16vh;
        padding-top: 5.1vh;
    }
}
